@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model EKLEXIA.ViewModels.CardVM;
<div class="col-md-12">
    <div class="tile">

        <div class="tile-body">
            <div class="justify-content-center">

                <div class="col-md-6">
                    <div id="formArea" class="table-bordered border-primary" style="width:3.6in;height:2.2in">
                        <div style="height:1.0in"></div>

                        <label style="  position:fixed;  padding-left:55px">@Model.Fullname</label>
                   

                        <br style="height:5in" />

                        <label style="position:fixed;padding-left:55px">@Model.DoB.ToString("dd-MMM-yyyy")</label>

                        <label style="position:fixed; padding-left:200px">@Model.Address</label>

                        <br style="height:0.5in" />

                        <label  style="position:fixed; padding-left:60px">@Model.Telephone</label>

                        <label  style="position:fixed; padding-left:200px"></label>

                        <br style="height:0.5in" />
                        <label   style="position:fixed; padding-left:150px"></label>

                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>


<div class="form-group">
    <button id="printButton" class=" btn btn-primary mt-sm-2"><i class="fa fa-fw fa-lg fa-print"></i>Print Card</button>
</div>

