@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model EKLEXIA.ViewModels.AddIncomeVM;

<div class="card-header py-1">
    <h6 class="m-0 font-weight-bold text-primary">Income</h6>
</div>
<div class="container py-0">
    
        


            @using (Html.BeginForm("AddIncome", "Finance",  FormMethod.Post))
            {

        

              
                
                    <div class="card-body justify-content-md-center">
                        <div class="row justify-content-center">
                            <div class="col-md-7">

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text  ">Payment Date</span></div>
                                        <input id="dob" class="form-control js-datepicker" type="date" asp-for="@Model.Date" asp-format="{0:dd/MMM/yyyy}" />
                                    </div>
                                </div>
                                @*<div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-users"></i></span></div>
                                        <select class="form-control selectpicker" data-style="btn-secondary" data-live-search="true" asp-for="@Model."></select>
                                    </div>

                                </div>*@
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-money-bill-alt"></i></span></div>
                                        <input class="selectpicker form-control " data-style="btn-secondary" asp-for="@Model.Amount"/>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="icon fa fa-edit"></i></span></div>
                                        <textarea class=" form-control "  asp-for="@Model.Description"></textarea>
                                    </div>
                                </div>


                                <button class="btn btn-block btn-primary">Submit Form</button>
                            </div>
                        </div>
                    </div>
           

              

          

             
              





                        
         
          
                
           
           

                }
            </div>
            
        
