@{
    Layout = "~/Views/MainLayout.cshtml";
}
@model EKLEXIA.ViewModels.AddRegionVM;

<div class="card-header py-1">
    <h6 class="m-0 font-weight-bold text-primary">Region</h6>
</div>



        @using (Html.BeginForm("AddRegion", "Settings"))
        {

           



                <div class="card-body justify-content-md-center">
                    <div class="row justify-content-center">
                        <div class="col-md-7">

                      
                
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-map-"></i></span></div>
                                    <input class=" form-control " asp-for="@Model.RegionName" />

                                </div>
                            </div>

                    


                            <button class="btn btn-block btn-primary">Save</button>
                        </div>
                    </div>
                </div>


















        }


