@{
    Layout = "~/Views/MainLayout.cshtml";
}

<div id="PlaceHolderHere"></div>
<div class="card">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-center">Setup</h5>
    
     
       <div class="card-header-right">
            <ul class="list-unstyled card-option">
                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                <li><i class="fa fa-window-maximize full-card"></i></li>
                <li><i class="fa fa-minus minimize-card"></i></li>
                <li><i class="fa fa-refresh reload-card"></i></li>
                <li><i class="fa fa-trash close-card"></i></li>
            </ul>
        </div>
    </div>
    <div class="card-body">

        
            <div id="accordion" class="accordion">
                <div class="card mb-0">
                    <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            Organization
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                        <div class="row">
                            <div class="col-md-5">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon fa fa-institution"></i></span>
                        </div>
                        <input class="form-control" id="txtorganization" type="text" placeholder="Name of Organization">
                        <div class="input-group-append">
                            <button id="btnorganization" class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon fa fa-phone"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Telephone">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon fa fa-envelope"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Email">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon fa fa-map-marker"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Location">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon fa fa-send"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Postal Address">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon fa fa-phone"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Telephone">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon fa fa-phone"></i></span>
                        </div>
                        <input class="form-control" type="text" placeholder="Telephone">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">Button</button>
                        </div>
                    </div>
                    </div>
                    <hr class="vr"/>
                    <div class="col-md-5">
                            <div class="form-group">
                                <img id="imagePreview" height="175" width="150" class="text-center" />

                            </div>
                        <input  type="file"/>
                    </div>
                    </div>
                    </div>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <a class="card-title">
                            Item 2
                        </a>
                    </div>
                    <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                  
                    </div>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <a class="card-title">
                            Item 3
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
                          
                              
                              
              </div>
              <div class="card-footer"></div>
          </div>
          
            
     
   


