@*@{
    Layout = "~/Views/MainLayout.cshtml";
}*@
@model EKLEXIA.ViewModels.CardVM;
@*<link rel="stylesheet" type="text/css" href="~/ospapps/ospapps.css"/>*@
<div class= "modal fade" id="Card" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class ="modal-header">
                <h6>Member IDCard</h6>
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sm btn-outline-danger">Close</button>
            </div>
            <di class="modal-body">
                <div class="container">
                    <header>
                        <span class="logo">
                            <img src="images/logo.png" alt="" />
                            <h5>Membership Card</h5>
                        </span>
                        <img src="images/chip.png" alt="" class="chip" />
                    </header>

                    <div class="card-details">
                        <div class="name-number">
                            
                            <h5 class="font-weight-bold">@Model.Fullname</h5>
                            <h5 class="name">@Model.MemberId</h5>
                            <h5>@Model.BranchId</h5>
                        </div>
                        <div class="img-circle">
                           
                            <img src="data:image;base64,@System.Convert.ToBase64String(Model.Photo)" class="img-circle" width="100" height="100" />
                        </div>
                    </div>
                </div>

                        

                        
            
            <div class="modal-footer">
                         <button id="printButton" class=" btn btn-primary btn-block btn-sm"><i class="fa fa-fw fa-sm fa-print"></i>Print</button>
                    </div>

                    </div>
                </div>
          
     </div>








